{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": [
    "html" //For linting *.vue files
  ],
  "extends": [
    "standard"
  ],
  "rules": {
    "no-console": 0,
    "no-debugger": 1,
    "generator-star-spacing": 0 //Allow async-await
  }
}
